
<h1 class="text-center mt-4">Saved Setup Sheets</h1>
<%= link_to 'Create new setup', new_setup_path, class: "btn btn-outline-secondary btn-sm mt-2 d-grid gap-2 col-4 mx-auto" %>

<%= render 'setup' %>