<div class="container" id="home-container">
    <div class="p-5 rounded-lg m-3 text-center text-black" id="fakejumbo">
      <h1 class="display-6 text-black">Welcome to RC-Setup</h1>
      <p class="lead">An easy to use tool to record, track and change the setups you use at any track, with any car.</p>
      <hr class="my-4">
      <p class="lead">At this point in time, settings will be tracked using text based indicators but, in time, full graphical set up sheets will be available similar to those supplied by the manufacturers.</p>
      <hr class="my-4">
      <a class="btn btn-primary btn-sm" href="setups" role="button">Browse setups</a>
    </div>
</div>