<footer id="sticky-footer" class="py-2 text-white bg-primary">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "RCP", "https://www.rcpshop.co.uk", class: "text-white" %></small>
  </div>
</footer>