<!-- Footer -->
<footer class="bg-dark fixed-bottom text-center text-white">
  <!-- Grid container -->
  <div class="container">
    <!-- Section: Text -->
    <section>
    <small>Copyright &copy; <%= link_to "RCP", "https://www.rcpshop.co.uk", class: "text-white" %></small>
    </section>
    <!-- Section: Text -->
  </div>
  <!-- Grid container -->
</footer>
<!-- Footer -->