<footer id="fixed-footer" class="sticky-bottom bg-primary">
  <div class="container text-center text-white">
    <small>Copyright &copy; <%= link_to "RCP", "https://www.rcpshop.co.uk", class: "text-white" %></small>
  </div>
</footer>